html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma;
  height: 100%;
  overflow: hidden;
}

h1, 
h2,
h3, 
h4, 
h5,
h6 {
  font-family: 'Segoe UI', Tahoma;
  font-style: normal;
}
