.container {
  flex: 1;
  background-color: #eee;
}

.header {
  display: flex;
  height: 40px;
  background-color: #222;
}

.menu {
  display: flex;
  background-color: #fafafa;
  flex-direction: row;
  align-items: center;
}

.img {
  height: 40px;
  justify-content: flex-start;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
  float: left;
}

.App-header {
  background-color: #F2F2F2;
  height: 30px;
  padding: 20px;
  color: #fff;
}

.App-main {
  height: 550px;
  background-color: #eee;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
